[submodule "pytorch-local-segmentation"]
	path = p-local-segm
	url = https://github.com/rshwndsz/torch-seg
[submodule "pl-colab"]
	path = pl-colab
	url = https://github.com/rshwndsz/pl-colab
[submodule "pl-local"]
	path = pl-local
	url = https://github.com/rshwndsz/pl-local
